<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Book</title>
</head>
<body>
<form method="post" th:action="@{/books/add}" th:object="${book}">
    <table>
        <tr>
            <td>
                <label>title: <input type="text" th:field="${book.title}"/></label>
            </td>
        </tr>
        <tr>
            <td>
                <label>authors: <input type="text" th:field="${book.authors}"/></label>
            </td>
        </tr>
        <tr>
            <td>
                <label>categories: <input type="text" th:field="${book.categories}"/></label>
            </td>
        </tr>
        <tr>
            <td>
                <label>description: <input type="text" th:field="${book.description}"/></label>
            </td>
        </tr>
        <tr>
            <td>
                <label>pageCount: <input type="text" th:field="${book.pageCount}"/></label>
            </td>
        </tr>
        <tr>
            <td>
                <label>contentVersion: <input type="text" th:field="${book.contentVersion}"/></label>
            </td>
        </tr>
        <tr>
            <td>
                <label>language: <input type="text" th:field="${book.language}"/></label>
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Submit"/></td>
        </tr>
    </table>
</form>
</body>
</html>