<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Books</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>

<table>
    <tbody>
    <tr th:each="book: ${books}">
        <td th:text="${book.authors}"></td>
        <td th:text="${book.categories}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.description}"></td>
        <td th:text="${book.publisher}"></td>
        <td th:text="${book.contentVersion}"></td>
        <td th:text="${book.language}"></td>
        <td th:text="${book.pageCount}"></td>
    </tr>
    </tbody>
</table>

</body>
</html>